
# Domain Configuration
APP_DOMAIN=localhost:8080

# minio
MINIO_ROOT_USER=your_minio_user
MINIO_ROOT_PASSWORD=your_minio_pass

# postgreSQL
POSTGRESQL_HOST=db
POSTGRESQL_PORT=5432
POSTGRESQL_DB=transcription_db
POSTGRESQL_USER=postgres
POSTGRESQL_PASSWORD=postgres

# async
STORAGE_TYPE=s3
MINIO_URL=http://minio-storage:9000
MINIO_USER=your_minio_user
MINIO_PASSWORD=your_minio_pass
MINIO_BUCKET=transcribe

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=your_redis_pass
ASYNC_REDIS_DB=0

QUEUE_TYPE=nats
NATS_SERVERS=nats://nats:4222
REQUEST_TOPIC=transcriber.async.request
RESPONSE_TOPIC=transcriber.async.response

MODEL_TYPE=faster-whisper
MODEL_PATH_OR_SIZE=./models/whisper-base
MODEL_DEVICE=cpu
MODEL_COMPUTE_TYPE=int8_float32
MODEL_NUM_WORKERS=1

TEMP_DIR=./temp_dir

# sync
SYNC_REDIS_DB=1

SYNC_MAIN_TOPIC=transcriber.sync
SYNC_MODEL_TOKENS=./models/vosk-model-streaming-ru/tokens.txt
SYNC_MODEL_ENCODER=./models/vosk-model-streaming-ru/encoder.onnx
SYNC_MODEL_DECODER=./models/vosk-model-streaming-ru/decoder.onnx
SYNC_MODEL_JOINER=./models/vosk-model-streaming-ru/joiner.onnx
SYNC_MODEL_NUM_THREADS=4
SYNC_MODEL_SAMPLE_RATE=16000
SYNC_MODEL_FEATURE_DIM=80
SYNC_MODEL_DECODING_METHOD=greedy_search
SYNC_MODEL_ENABLE_ENDPOINT_DETECTION=true
SYNC_MODEL_RULE1_MIN_TRAILING_SILENCE=2.4
SYNC_MODEL_RULE2_MIN_TRAILING_SILENCE=1.2
SYNC_MODEL_RULE3_MIN_UTTERANCE_LENGTH=20.0
SYNC_MAX_ACTIVE_STREAMS=50
SYNC_JOB_ACTIVE_TIMEOUT=20

# api_gateway

KEYCLOAK_SERVER_URL=http://keycloak:8080
KEYCLOAK_ISSUER_URL=http://localhost/realms/dev-realm
KEYCLOAK_REALM=dev-realm
KEYCLOAK_CLIENT_ID=transcriber-api-gateway
KEYCLOAK_CLIENT_SECRET=your-keycloak-client-secret
KEYCLOAK_VERIFY_SSL=false

TG_BOT_TOKEN=your-telegram-bot-token

# Web App
WEB_APP_KEYCLOAK_CLIENT_ID=transcriber-web-backend
WEB_APP_KEYCLOAK_CLIENT_SECRET=your-web-backend-secret
TG_WEBHOOK_APP_TOKEN=your-webhook-token

# Environment
NODE_ENV=development
CORS_ORIGINS=http://localhost:85,http://localhost:5173,http://localhost:5174

# Domain
VITE_KEYCLOAK_URL=http://localhost:8080
VITE_KEYCLOAK_REALM=dev-realm
VITE_KEYCLOAK_CLIENT_ID=transcriber-web-app
VITE_API_URL=http://localhost:3001
VITE_WS_URL=ws://localhost:3002
VITE_WS_URL_MOBILE=ws://localhost:3002/mobile-app/ws/

# Backend (web_app_test_backend)
API_GATEWAY_URL=http://api-gateway:10000
KEYCLOAK_URL=http://keycloak:8080
KEYCLOAK_REALM=dev-realm
TG_WEBHOOK_URL=http://tg-webhook-test:10050/webhook
APP_TOKEN=your-webhook-token
