__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
.git
.gitignore
.env
*.log
.DS_Store
temp_dir/
*.zip
*.mp3
*.mp4
*.wav
*.ipynb
test*.py
!main.py
!application/
!config/
!database/
!message_queue/
!storage/
!factories/
!transcribation_model/
!logger.py
!requirements.txt
!Dockerfile
!Dockerfile.cuda
